@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* share style  */

.display-flex {
    display: flex;
}

.bg-color {
    background: rgba(255, 144, 14, 0.1);
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.btn-primary {
    background: #FF900E;
    color: white;
    font-size: 1.5rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;

}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

/* header style  */


/*  nav style */

.nav-links {
    gap: 30px;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
}

.navbar {
    justify-content: space-between;
}

.nav-link {
    list-style: none;
    font-size: 1.3rem;
}

.nav-link>a {

    text-decoration: none;

}

.navbar,
.banner,
footer {
    max-width: 1440px;
    margin: 0 auto;

}

/* banner style */

.banner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-img {
    width: 100%;
    margin-bottom: 25px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-dis {
    font-size: 1rem;
}


/* main sytle */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.feature-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feture-img {
    width: 100%;
}

.feature-container {
    gap: 73px;
    align-items: center;

}

.feature-dis {
    font-size: 1rem;
}

.feature-data {
    margin-bottom: 25px;
}


.Features {
    color: #FF900E;
    font-weight: bold;

}

/* about style */

.about-container{
     gap:146px;
}

.child-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.child-item{
    padding: 30px;

}

.about-dis , .child-dis{
    font-size: 1rem;
    font-weight: 400;
}

.child-title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.child-dis{
    margin-top: 10px;
}

.ex-year{
    font-size: 4.1rem;
    font-weight: bold;
}
.ex-title{
    font-size: 1.6rem;
    font-weight: 500;
}

#exprience-btn{
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -77px;
}
.about-img{
    width: 100%;
}


/*  for some facts style */
.some-fact-container {
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

.fact-item {
    border: 1px solid #FF900E;
    border-radius: 8px;


}

.fact-in {
    padding: 45px 35px;
    text-align: center;
}

.fact-num {
    font-size: 45px;
    font-weight: 700;
    margin: 0px;

}

.fac-dis {
    font-size: 20px;
    margin: 0px;

}

/*  sponsopors style */

.sponspors {
    text-align: center;
}

.sponspors-img-container {
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
    filter: grayscale(100%);
}


/* footer style */

.footer {

    text-align: center;
    border-radius: 8px;
    margin-bottom: 200px;

}

footer>section {
    margin-top: 130px;
}

.footer-dis {
    padding: 35px 410px;
    font-size: 1.2rem;
}


/* responsive media quary */

@media screen and (max-width:718px) {

    .navbar,
    .nav-links,
    .feature-container,
    .some-fact-container,
    .sponspors-img-container,.about-container {
        flex-direction: column;
    }

    #exprience-btn {
    padding: 45px 42px;
    margin-left: -10px;
    margin-top: -77px;
    }

    .sponspors-img-container {
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .sponspors-img {
        width: 60%;

    }

    .footer-dis {
        padding: 20px;
    }

    .some-fact-container {
        gap: 20px;
    }

    .fact-item {
        margin: 20px auto;
    }

    .navbar,
    .nav-links {
        text-align: center;
    }

    .feature-data {
        margin: 20px auto;
        padding: 20px;
    }

    .feature-container-img {

        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}

/*  responsive for tab  */

@media screen and (min-width:719px) and (max-width:1048px) {

    .feature-container {
        flex-direction: column;
    }

    .some-fact-container {
        gap: 20px;

    }

    .footer-dis {
        padding: 20px;
    }

    .fact-item {
        margin: 20px auto;
    }

    .feature-data {
        margin: 20px auto;
        padding: 20px;
    }
}